* {
	text-align: center;
	box-sizing: border-box;
}

h1 {
	margin-top: 30px;
	margin-bottom: 50px;
	color: #333333;
}

body {
	background-color: #eeeeee;
	width: 100%;
}

.dish {
	clear: both;
	font-family: sans-serif;
	text-align: left;
	padding: 5%;
}

.section {
	margin: 5px;
	background-color: gray;
	width: 80%;
	border: 2px solid black;
	display: inline-block;
}

.sec-head {
	background-color: rgb(201,125,76);
	font-family: serif;
	font-weight: bold;
	width: 30%;
	float: right;
	border: 1px solid black;
	margin-top: 0px;
}

@media (min-width: 992px) {
	.col-lg-4 {
		width: 33.33%;
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%;
		float: left;
	}

	.col-md-12 {
		clear: both;
		width: 100%;
	}

	#lowerb {
		width: 90%;
		margin-top: 30px;
	}

}
